<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="page-wrapper">
        <div class="nav-wrapper">
            <nav class="nav">
                <img src="/butterfly.png" alt="" class="nav__img">
                <ul class="nav-items">
                    <% item.forEach((el)=>{ %>
                        <li class="nav-item"><%= el %></li>
                    <% }) %>
                </ul>
                <div class="nav-option">
                    <% option.forEach((el)=>{ %>
                        <img class="nav-option__img" src="<%= el %>">
                    <% }) %>
                </div>   
            </nav>
        </div>
        <div class="    ">
            <main class="main">
                <div class="items">
                    <% infoCard.forEach((index) => { %>
                        <div class="item">  
                            <img src="<%= index.image%>" alt="" class="img">
                            <h3 class="title"><%= index.name  %></h3>
                            <div class=""><span class="color__red">RED</span><span class="color__black">BLACK</span></div>
                            
                            <p class="price"><%= index.price %></p>
                            <button class="btn">BUY</button>
                        </div>
                   <% }) %>
                        </main>
        </div>

        <div class="footer-wrapper">
            <footer class="footer">
                <ul class="footer-ul">
                    <% item.forEach((el)=>{ %>
                        <li class="footer__li"><%= el %></li>
                    <% }) %>
                </ul>
                <ul class="footer-ul">    
                    <% footerOption.forEach((el)=>{ %>
                        <li class="footer__li"><%= el %></li>
                    <% }) %>
                </ul>
            </footer>
        </div>
    </div>
</body>
</html>